<html>
<head runat="server">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="../../Content/Site.css" />
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/TemplateLoader.js")"></script>
    @RenderSection("Header", false)
</head>
<body>
    <a name="top"></a>

<div id="mmoitooltipbox" style="z-index:6000;"></div>

<div id="layout">
<div id="outerpage">
<div id="innerpage">
        @RenderBody()
        </div>
        </div>
    </div>
</body>
</html>
