<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AchievementsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;database=Achievements;User Id=achievements;password=achievements;Persist Security Info=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="AchievementDatabase" connectionString="mongodb://192.168.1.141/Achievements"/>
  </connectionStrings>

  <appSettings>
    <add key="MongoDbName" value="Achievements"/>
    
  </appSettings>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="50" />
    </connectionManagement>
    <defaultProxy enabled="false" />
  </system.net>
  <system.data>
    <DbProviderFactories>
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b"/>
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
