#header
{
    height: 582px;
    width:884px;
    
    background-image : url(../images/welcome.png);
}

#mainForm
{
 
    position : relative;
    top : 260px;
    left : 300px;   
}

#playerSearch
{
    height : 50px;
    color : Black;
}

#playerSearch div 
{
    float : left;
    margin-right: 15px;
}

#playerSearch div label
{
    display : block;
}

input
{
    background: #4F4F4E;
}