<div id="mainForm">
    <div id="playerSearch">
        <div>
            <label for="region">
                Region</label>
            <select name="region">
                <option value="us">USA</option>
                <option>EU</option>
                <option>KR</option>
                <option>TW</option>
            </select>
        </div>
        <div>
            <label for="server">
                Realm</label>
            <input type="text" name="server" />
        </div>
        <div>
            <label for="player">
                Name</label><input type="text" name="player" id="player" /><input type="button" value="go"
                    id="playerSearchButton" />
        </div>
    </div>
</div>
