@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<script type="text/javascript">
    var uvOptions = {};
    (function () {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/v7VlxR9i0Bk4PUHbrSpL7g.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();


    
    function formSubmit() {
        
        var theForm = $('form[id=searchForm]');
        var actionUrl = theForm.attr("action");
        alert(actionUrl);
        theForm.attr("action", actionUrl + "/" + $("select[name=region]").val() + "/" +  $("input[name=server]").val() + "/" + $("#player").val());
        actionUrl = theForm.attr("action");
        alert(actionUrl);
        theForm.submit();

    };


</script>

<div id="header">
    <div id="appView">
       <div id="mainForm">
    <div id="playerSearch">

        @using (Html.BeginForm("Index", "Player", FormMethod.Get, new { id = "searchForm"}))
        {
        <div>
            <label for="region">
                Region</label>
            <select name="region">
                <option value="us">USA</option>
                <option>EU</option>
                <option>KR</option>
                <option>TW</option>
            </select>
        </div>
        <div>
            <label for="server">
                Realm</label>
            <input type="text" name="server" />
        </div>
        <div>
            <label for="player">
                Name</label><input type="text" name="player" id="player" />
            <button onclick="formSubmit()">go</button>
            
        </div>
        }
    </div>
        
</div>
        
    </div>

</div>

@section Header{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/Main.css")" />
}
