@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapMaster.cshtml";
}

<script type="text/javascript">
    var uvOptions = {};
    (function () {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/v7VlxR9i0Bk4PUHbrSpL7g.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();


    
    function formSubmit() {
        
        var theForm = $('form[id=searchForm]');
        var actionUrl = theForm.attr("action");
        alert(actionUrl);
        theForm.attr("action", actionUrl + "/" + $("select[name=region]").val() + "/" +  $("input[name=server]").val() + "/" + $("#player").val());
        actionUrl = theForm.attr("action");
        alert(actionUrl);
        theForm.submit();

    };


</script>




        @using (Html.BeginForm("Index", "Player", FormMethod.Get, new { id = "searchForm"}))
        {
            <div class="jumbotron">
         <p>
             Enter your details below to see your personalized achievement recommendations</p>   

        <div class="row-fluid">
          <div class="span4">Zone : <select name="region"><option>EU</option><option selected="selected">US</option></select></div>
          <div class="span4">Realm : <input name="server" id="realm"></div>
          <div class="span4">Name : <input name="player" id="player"></div>
        </div>
      
        <a id="personalizedRecommendations" class="btn btn-large btn-success" onclick="formSubmit()"><i class="icon-tasks"></i>Personalized Recommendations</a>
            </div>
        }
